<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <center>
        <h1>displa accessrecords</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="topic">topic_name</label>
            <select name="topic" id="topic">
                {% for t in topic %}
                <option value="{{ t }}">{{ t.topic_name }}</option>
                {% endfor %}

            </select><br>
            <label for="url">url</label>
            <input type="url" name="url" id="url"><br>

            <label for="name">name</label>
            <select name="name" id="name">
                {% for a in web %}
                <option value="{{ a }}">{{a.name}}</option>
                {% endfor %}
            </select><br>
            <label for="date">date</label>
            <input type="date" name="date" id="date"><br>

            <input type="submit" name="submit">
        </form>
    </center>
</body>
</html>